@import 'variables';

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $grayDark;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

  &:hover {
    color: $grayLight;
    text-decoration: none;
  }
}

.navbar-inner {
  background-image: none;
  background-color: rgba(249, 247, 242, 1);
}
